@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/*css reset*/
html, h1, h2, h3, h4, h5, h6, form, fieldset, img {
    margin:0;
    padding:0;
    border:0;
}
body{
    margin: 0; 
}
ul, dl,dt,dd {
    margin:0;
    padding:0;
    list-style:none;
    box-sizing: border-box;
}
legend {
    position:absolute;
    margin:0;
    padding:0;
    font-size:0;
    line-height:0;
    text-indent:-9999em;
    overflow:hidden;
}
label, input, button, select, img {
    vertical-align:middle; 
    box-sizing: border-box;
}
input[type="submit"] {
    cursor:pointer;
}
button {
    cursor:pointer;
}
select {
    margin:0;
}
fieldset legend {
    display:none;
}
p {
    margin:0;
    padding:0;
    word-break:break-all;
    font-family: 'Noto Sans KR', sans-serif;
}
a { 
    color: #3f3e3e; 
    text-decoration: none; 
}
a:hover, a:focus, a:active { 
    color: crimson; 
    text-decoration: none; 
}
:root{
    --text-color: #3f3e3e;
    --liner-box:#fdff8c;
    --text-point: #ff6f5e;
    --sub-text:#b9b9b9;
}
.next-line{display: block}
.content-frame{padding: 0 5%;}
.bold{font-weight: 600;}
/*progress bar*/
.progress-container{
    width: 100%;
    height: 8px;
    background-color: #ccc;
    position: fixed;
    z-index: 1000;
    top: 0;
}
.progress-bar{
    width: 0%;
    height: 8px;
    background-color: #04aa6d;
}

/*header*/
header{
    width: 100%; height: 80px;
    box-shadow: 2px 2px 10px #eaeaea;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0; left: 0;
    background-color: #fff;
    padding: 0 5%;
    z-index: 100;
    box-sizing: border-box;
}
.logo{
    font-family: 'Abril Fatface', cursive;
    font-size: 30px;
    display: inline-block;
}
.fa-bars, .fa-times{
    font-size: 35px;
}
#menu-basic{display: block;}
#menu-cancel{display: none;}

.sidebar{
    box-shadow: 2px 2px 10px #eaeaea;
    width: 250px; height: 1500px;
    position: fixed; 
    top: 80px; right: -500px;
    color: var(--text-color);
    font-family: 'Abril Fatface', cursive;
    transition-duration: 0.2s;
    background-color: #fff;
}
.sidebar > ul {
    padding-top: 25px;
}
.sidebar > ul > li{
    font-size: 23px;
    font-weight: 500;
    font-family: 'Abril Fatface', cursive;
    line-height: 40px;
    color: var(--text-color);
    padding-left: 25px;
}
.sidebar > ul > li:nth-child(3){
    padding-left: 0;
}
.sidebar label{
    padding-left: 24px;
}
.sidebar label+ul{
    font-size: 16px;
    font-weight: 300;
    padding-left: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    background-color: #eaeaea;
    height: 70px;
}
.sidebar label+ul li{
    padding-left: 20px;
    line-height: 30px;
}
#works-check ~ ul{
    display: none;
}
#works-check:checked ~ ul{
    display: block;
}
#works-check{display: none;}
.fa-caret-down{margin-left: 10px;}
.banner{
    width: 100%;
    height: 500px;
    background-color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 0 20px;
}
.banner > p{
    text-align: center;
}

/* 배너의 타이핑효과 애니메이션 */
@keyframes cursor{
    50%{border-color: transparent;}
}
.text{
    vertical-align: middle;
    text-align: center;
    color: var(--text-point);
    font-size: 22px;
    visibility: visible;
}
.cursor{
    border-right: 0.05em solid var(--text-point);
    animation: cursor 0.2s ease infinite;
    vertical-align: middle;
}
.mat{margin-top: 30px;}
.mab{margin-bottom: 10px;}
.photo{
    width: 100%;
    display: block;
    overflow: hidden;
}
img{
    object-fit: cover;
    width: 100%; height: 100%;
}
.photo+h1{margin-top: 20px;}
.fade-effect{
    opacity: 0;
}
.title{
    font-size: 32px;
    font-weight: 600;
    margin-top: 65px;
    background-color: var(--liner-box);
    display: inline;
}
h1~p{
    font-weight: 300;
}
.second-p{
    margin-top: 20px;
}

/* skill */
.can{
    background-color: var(--text-color);
}
dl > dt{ 
    margin: 20px 0 5px;
    font-size: 20px; 
    font-weight: 600;
}
dl > dd{
    font-size: 14px;
    line-height: 16px;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}
dl > dd > span{
    display: inline-block;
    width: 27px; height: 27px;
    border-radius: 50%;
    background-color: #b9b9b9;
}
/* career */
.history{
    border-left: 2px solid #3f3e3e;
    margin-top: 30px;
    position: relative;
}
.history > li:first-child{
    list-style-type: none;
    position: relative;
    left: -6px; top: -6px;
}
.triangle{
    display: inline-block;
    width: 0px;
    height: 0px;
    border-bottom: calc( 5px * 1.732 ) solid #3f3e3e;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}
.history_recently{
    display: inline-block;
    position: relative;
    left: 25px;
}
.history >li{
    list-style-type: disc;
    font-size: 18px;
    font-weight: 600;
    color: var(--text-color);
    position: relative;
    left: 15px;
}
.history >li > span, .history_recently >span{
    font-weight: 300;
    display: block;
    font-size: 14px;
    color: var(--sub-text);
    margin-bottom: 25px;
}
/* hobby */
h2{
    font-size: 18px; margin-bottom: 15px;
}
.photo-hobby{
    width: 100%; height: 500px;
    background-image: url('../img/hobby02.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
}
.photo-hobby > a{
    display: none;
    width: 100%; height: 100%;
    text-align: center;
    font-weight: 600;
    font-size: 25px;
    align-items: center;
    justify-content: center;
    background-color: #ff0000c5;
    transition: 0.5s;
}
.photo-hobby:hover > a{
    display: flex;
    background-color: #181818c5;
}
/* works */
#works{
    background-color: #f0f0f0;
}
#web, #graphic, #pick {
    padding-top: 35px;
}
#web > p, #graphic > p{
    margin: 10px 0 30px;
}
.web_works > li{
    border-radius: 10px; 
    overflow: hidden;
    width: 80vw; height: 160vw;;
    display: flex;
    flex-direction: column;
}
.web_photo, .explanation{
    display: block;
    width: 100%; height: 100%;
    text-align: center;
    background-color: #fff;
}
.explanation > h2{
    margin-top: 35px;
    font-size: 24px;
    font-weight: 500;
}
.explanation > h2::after{
    content: ' ';
    display: block;
    width: 1px;
    height: 20px;
    background-color: var(--text-color);
    margin: 15px auto 0;
}
.explanation > p{
    font-weight: 300;
    margin-bottom: 15px;
}
button{
    width: 100px; height: 20px;
    background-color: #3f3e3e00;
    border: 1px solid #3f3e3e;
    border-radius: 30px;
    font-size: 18px; line-height: 17px;
    color: var(--text-color);
    font-weight: 300;
    transition: 0.5s;
}
button:hover, #pick a:hover{
    background-color: #3f3e3e;
    color: #fff;
    font-weight: 300;
}
#graphic > ul > li{
    width: 80vw; height: 80vw;
    background-size: cover;
    border-radius: 5px;
}
#graphic  li > a{
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%; height: 100%;
    background: #000000CC;
}
#graphic  li:hover > a{
    display: flex;
}
.cardnews{
    background-image: url('../img/cardnews01.png');
}
.starbucks{
    background-image: url('../img/banner_starbucks.jpg');
}  
.dairy-ipad{
    background-image: url('../img/dairy-ipad.jpg');
}  
.mts{
    background-image: url('../img/mts.jpg');
}
/* contact */
#pick p{
    font-size: 18px;
    margin: 10px 0 30px;
}
#pick span{
    font-size: 25px;
    font-weight: 600;
}
#pick a{
    border: 1px solid #3f3e3e;
    border-radius: 20px;
    width: 100%; height: 35px;
    text-align: center; line-height: 32px;
    display: block;
    margin: 10px 0;
}
